<h2>Smart Daily App</h2>
<a href="/logout">Logout</a>

<h3>Finance</h3>
<form method="post" action="/add">
    <input name="amount" placeholder="Amount" required>
    <select name="type">
        <option value="income">Income</option>
        <option value="expense">Expense</option>
    </select>
    <button>Add</button>
</form>

<p>Income: {{income}}</p>
<p>Expense: {{expense}}</p>
<p>Balance: {{balance}}</p>

<h3>Notes</h3>
<form method="post" action="/add_note">
    <input name="content">
    <button>Add</button>
</form>

<ul>
{% for note in notes %}
<li>
    {{note['content']}}
    <form method="post" action="/delete_note/{{note['id']}}" style="display:inline;">
        <button>❌</button>
    </form>
</li>
{% endfor %}
</ul>

<h3>Tasks</h3>
<form method="post" action="/add_task">
    <input name="task">
    <button>Add</button>
</form>

<ul>
{% for task in tasks %}
<li>
    {{task['task']}} {% if task['done'] == 1 %}(Done){% endif %}

    <form method="post" action="/toggle_task/{{task['id']}}" style="display:inline;">
        <button>Toggle</button>
    </form>

    <form method="post" action="/delete_task/{{task['id']}}" style="display:inline;">
        <button>Delete</button>
    </form>
</li>
{% endfor %}
</ul>
